/ {
	ledcontroller0: ledcontroller_0 {
		compatible = "jan,ledcontroller";
		label = "LEDCONTROLLER_0";
		a-gpios = <&gpioa 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		b-gpios = <&gpioa 14 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		c-gpios = <&gpioa 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		d-gpios = <&gpioc 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		status = "okay";
	};
};

&gpioc {
	status = "okay";
};

&gpioa {
	status = "okay";
};